---
import { menuMain } from "~/data/menus";
const currentYear = new Date().getFullYear();
import { siteName } from "~/data/config";
---

<footer class="bg-brand-brown text-white">
	<div class="container pt-16 pb-8">
		<p class="text-center font-bold text-2xl lg:text-4xl text-brand-beige">SOMEWHERE<span class="text-brand-brown bg-brand-beige px-3 ml-1 rounded-lg">CAFE</span></p>
		<nav class="flex flex-col sm:flex-row items-center justify-center gap-x-12 gap-y-3 font-medium mt-6 text-brand-beige" aria-label="Footer">
			{
				menuMain.map((item) => (
					<a href={item.url} class="hover:underline">
						{item.name}
					</a>
				))
			}
		</nav>
		<p class="mt-10 text-center text-sm text-brand-beige">&copy; {currentYear} <a href="https://javirm.com" class ="underline">javirm</a>. All rights reserved. <a class="underline" href="/privacy-policy">Privacy policy</a></p>
	</div>
</footer>
